<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ribbon_Ribbon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/css/base.css' %}">
</head>

<div class="search_logo">
    <img src="{% static 'menu/image/Rogo.png' %}"
    alt="search_logo" class="search_logo">
</div>

<body class="account_page">
    <div class="container">
        <p class="fsize">ログイン画面</p>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit" class="button-link">ログイン</button>
        </form>

</div>

</body>
</html>